# Binaries
janus
*.exe

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage.out
*.test

# Logs
*.log

# Load Test Artifacts
janus-proxy
dummy-backend
load_test_results.txt
config_load.json
loadtest/janus-proxy
loadtest/dummy-backend
loadtest/*.log
loadtest/*.txt
loadtest/*.json